<h1>Listing students</h1>
<p id = "notice"><%= notice%></p>
<table>
  <tr>
    <th>Studentid</th>
    <th>Name</th>
    <th><%= link_to 'Project', projects_path %>40%</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><%= student.studentID %></td>
    <td><%= student.name %></td>
    <% if student.project.name %>
      <td><%= student.project.score*0.4 %></td>
    <% end %>
    <td><%= link_to 'Show', student %></td>
    <td><%= link_to 'Edit', edit_student_path(student) %></td>
    <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Student', new_student_path %>
