<html><head>
<% if notice == 'close'%>
	<script type="text/javascript">window.close()</script>
<% end %>
</head><body>
<img src="assets/bg.jpg" no-repeat width="100%" />

<table class="datalist">
  <caption>Student Grade Sheet</caption>
  <tr>
    <th>Studentid</th>
    <th>Name</th>
    <th><%= link_to 'Project', projects_path %>40%</th>
    <th><%= link_to 'Final', finals_path %>40%</th>
    <th><%= link_to 'Lab', labs_path %>10%</th>
    <th><%= link_to 'Class Discussion', discs_path %>5%</th>
    <th><%= link_to 'Attendence', attens_path %>5%</th>
    <th>Sum</th>
    <th></th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><%= student.studentID %></td>
    <td><%= link_to student.name,"javascript:void(0)",:onclick => "window.open('/students/#{student.id}/edit','','width=300,height=500')" %></td>
    <td><% if student.project != nil && student.project.score != nil %>
      <%= student.project.score*0.4 %>
    <% end %></td>
    <td><% if student.final != nil && student.final.score != nil %>
      <%= student.final.score*0.4 %>
    <% end %></td>
    <td><% if student.lab != nil && student.lab.score != nil %>
      <%= student.lab.score*0.1 %>
    <% end %></td>
    <td><% if student.disc != nil && student.disc.score != nil %>
      <%= student.disc.score*0.05 %>
    <% end %></td>
    <td><% if student.atten != nil && student.atten.score != nil %>
      <%= student.atten.score*0.05 %>
    <% end %></td>
    <td>
      <% if student.project != nil && student.project.score != nil && student.final != nil && student.final.score != nil && student.lab != nil && student.lab.score != nil && student.disc != nil &&  student.disc.score != nil && student.atten != nil && student.atten.score != nil %>
      <%= student.project.score*0.4+student.final.score*0.4+student.lab.score*0.1+student.disc.score*0.05+student.atten.score*0.05%>
      <% end %>
    </td>
    <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'New Student', new_student_path %></body>
</html>