<h1>Listing projects</h1>

<table>
  <tr>
    <th>Student Name</th>
    <th>Score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= Student.find(project.student_id).name %></td>
    <td><%= project.score %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'frontpage', students_path%><br />
<%= link_to 'New Project', new_project_path %>
