<p>You are editing iteration grades for student:</p>
<%= @student.name%>
<%= form_tag("/iterations/updateRow/#{@id}", method: "put") %>
<table>
	<% @iterations.each do |i| %>
		<tr>
			<td><%= "Iteration#{i.iteNum}"%></td>
			<td><%= text_field(i.id, :score, :value => i.score)%></td>
		</tr>
	<% end %>
</table>
<%= submit_tag 'save' %>