<html><h1>Listing iterations</h1>

<table>
  <tr>
    <th>Student Name</th>
    <th>Score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @students.each do |s| %>
  <tr>
    <td><%=  s.name %></td>
    <% s.iterations.each do |i|%>
      <td><%= i.score %></td>
      <td><%= link_to 'Edit', edit_iteration_path(i) %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Back', projects_path %>
<%= link_to 'New Iteration', new_iteration_path %>
</html>