<span style = "font-size : 19px"><%= "This will be iteration #{@c+1}"%></span>
<br /><br /><br />
<%= form_tag("/iterations/#{@c+1}/save", method: "put")%>
	<table>
		<tr>
			<th>Student Name</th>
			<th>Score</th>
		</tr>
	<% @students.each do |s|%>
		<tr>
			<td><%= s.name %></td>
			<td><%= text_field( s.id ,:score) %></td>
		</tr>
	<% end %>
	</table>
<%= submit_tag 'save' %>
<%= link_to 'Back', iterations_path %>

