<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @disc.student_id %>
</p>

<p>
  <b>Score:</b>
  <%= @disc.score %>
</p>

<p>
  <b>Week1:</b>
  <%= @disc.week1 %>
</p>

<p>
  <b>Week2:</b>
  <%= @disc.week2 %>
</p>

<p>
  <b>Week3:</b>
  <%= @disc.week3 %>
</p>

<p>
  <b>Week4:</b>
  <%= @disc.week4 %>
</p>

<p>
  <b>Week5:</b>
  <%= @disc.week5 %>
</p>

<p>
  <b>Week6:</b>
  <%= @disc.week6 %>
</p>

<p>
  <b>Week7:</b>
  <%= @disc.week7 %>
</p>

<p>
  <b>Week8:</b>
  <%= @disc.week8 %>
</p>

<p>
  <b>Week9:</b>
  <%= @disc.week9 %>
</p>

<p>
  <b>Week10:</b>
  <%= @disc.week10 %>
</p>

<p>
  <b>Week11:</b>
  <%= @disc.week11 %>
</p>


<%= link_to 'Edit', edit_disc_path(@disc) %> |
<%= link_to 'Back', discs_path %>
