<h1>Listing Lab Scores</h1>

<table>
  <tr>
    <th>Student</th>
    <th>Score</th>
    <th><%= link_to 'Lab1', "/labs/editRow/lab1" %></th>
    <th><%= link_to 'Lab2', "/labs/editRow/lab2" %></th>
    <th><%= link_to'Lab3', "/labs/editRow/lab3" %></th>
    <th><%= link_to'Lab4', "/labs/editRow/lab4" %></th>
    <th><%= link_to'Lab5', "/labs/editRow/lab5" %></th>
    <th><%= link_to'Lab6', "/labs/editRow/lab6" %></th>
    <th><%= link_to'Lab7', "/labs/editRow/lab7" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @labs.each do |lab| %>
  <tr>
    <td><%= Student.find(lab.student_id).name %></td>
    <td><%= lab.score %></td>
    <td><%= lab.lab1 %></td>
    <td><%= lab.lab2 %></td>
    <td><%= lab.lab3 %></td>
    <td><%= lab.lab4 %></td>
    <td><%= lab.lab5 %></td>
    <td><%= lab.lab6 %></td>
    <td><%= lab.lab7 %></td>
    <td><%= link_to 'Edit', edit_lab_path(lab) %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'Frontpage', students_path %>
