<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @lab.student_id %>
</p>

<p>
  <b>Score:</b>
  <%= @lab.score %>
</p>

<p>
  <b>Lab1:</b>
  <%= @lab.lab1 %>
</p>

<p>
  <b>Lab2:</b>
  <%= @lab.lab2 %>
</p>

<p>
  <b>Lab3:</b>
  <%= @lab.lab3 %>
</p>

<p>
  <b>Lab4:</b>
  <%= @lab.lab4 %>
</p>

<p>
  <b>Lab5:</b>
  <%= @lab.lab5 %>
</p>

<p>
  <b>Lab6:</b>
  <%= @lab.lab6 %>
</p>

<p>
  <b>Lab7:</b>
  <%= @lab.lab7 %>
</p>


<%= link_to 'Edit', edit_lab_path(@lab) %> |
<%= link_to 'Back', labs_path %>
