<html><h1>Listing Attendence Scores</h1>

<table>
  <tr>
    <th>Student</th>
    <th>Score</th>
    <th><%= link_to 'Week1', "/attens/editRow/week1" %></th>
    <th><%= link_to 'Week2', "/attens/editRow/week2" %></th>
    <th><%= link_to 'Week3', "/attens/editRow/week3" %></th>
    <th><%= link_to 'Week4', "/attens/editRow/week4" %></th>
    <th><%= link_to 'Week5', "/attens/editRow/week5" %></th>
    <th><%= link_to 'Week6', "/attens/editRow/week6" %></th>
    <th><%= link_to 'Week7', "/attens/editRow/week7" %></th>
    <th><%= link_to 'Week8', "/attens/editRow/week8" %></th>
    <th><%= link_to 'Week9', "/attens/editRow/week9" %></th>
    <th><%= link_to 'Week10', "/attens/editRow/week10" %></th>
    <th><%= link_to 'Week11', "/attens/editRow/week11" %></th>
    <th></th>

  </tr>

<% @attens.each do |atten| %>
  <tr>
    <td><%= Student.find(atten.student_id).name %></td>
    <td><%= atten.score %></td>
    <td><%= atten.week1 %></td>
    <td><%= atten.week2 %></td>
    <td><%= atten.week3 %></td>
    <td><%= atten.week4 %></td>
    <td><%= atten.week5 %></td>
    <td><%= atten.week6 %></td>
    <td><%= atten.week7 %></td>
    <td><%= atten.week8 %></td>
    <td><%= atten.week9 %></td>
    <td><%= atten.week10 %></td>
    <td><%= atten.week11 %></td>
    <td><%= link_to 'Edit', edit_atten_path(atten) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Frontpage', students_path %>
</html>