<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @atten.student_id %>
</p>

<p>
  <b>Score:</b>
  <%= @atten.score %>
</p>

<p>
  <b>Week1:</b>
  <%= @atten.week1 %>
</p>

<p>
  <b>Week2:</b>
  <%= @atten.week2 %>
</p>

<p>
  <b>Week3:</b>
  <%= @atten.week3 %>
</p>

<p>
  <b>Week4:</b>
  <%= @atten.week4 %>
</p>

<p>
  <b>Week5:</b>
  <%= @atten.week5 %>
</p>

<p>
  <b>Week6:</b>
  <%= @atten.week6 %>
</p>

<p>
  <b>Week7:</b>
  <%= @atten.week7 %>
</p>

<p>
  <b>Week8:</b>
  <%= @atten.week8 %>
</p>

<p>
  <b>Week9:</b>
  <%= @atten.week9 %>
</p>

<p>
  <b>Week10:</b>
  <%= @atten.week10 %>
</p>

<p>
  <b>Week11:</b>
  <%= @atten.week11 %>
</p>


<%= link_to 'Edit', edit_atten_path(@atten) %> |
<%= link_to 'Back', attens_path %>
