<html><h1>Listing Final Scores</h1>

<table>
  <tr>
    <th>Student</th>
    <th><%= link_to 'Score', :controller => 'finals', :action =>'editRow' %></th>
    <th></th>
  </tr>

<% @finals.each do |final| %>
  <tr>
    <td><%= Student.find(final.student_id).name %></td>
    <td><%= final.score %></td>
    <td><%= link_to 'Edit', edit_final_path(final) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Frontpage', students_path %>
</html>